

body{
  padding-top: 0%;
  margin-top: 0%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.navbar-main{
  width: 100%;
  
}
.links-menu{
  font-size: 16px;
  color:white;
  margin: 3%;

}

.links-menu:hover{
  color: whitesmoke;
}
.piodos-left{

 text-align: right;
 display: flex;

 justify-content: end;

}

.position{
  position: absolute;
  padding:0px;
 
}

.content-height{
  height: 100%;
  width: 100%;
  margin-top: 10%;
}
.content-text{
  margin-left: 100px;
  margin-top: 50px;
  
}

.subhead{
  letter-spacing: 1px;
  line-height: 25px;
  margin-top: 29px;
  font-size: 16px;
}

.registercontainer{
  display: none;
}



.background-color-text{
  color:white;

}

.background-color-text:hover{
  color:black;
  background-color: white;
  cursor: pointer;
}



.bg-link{
  color:black;
  background-color: white;
}

.background-color-text:hover .bg-link{
  color:white;
  background-color: transparent;
  cursor: pointer;
}


.sign-up{
  background-color:#0497e0;
  color: white;
}


.sign-up:hover{
  color:whitesmoke;
  background-color:#02a6f7;



}









@media only screen and (max-width: 640px) {
  #sidebar{
display: none;
  }
}